<%= simple_form_for @anime, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :yop %>
  <%= f.input :noe %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                animes_path, :class => 'btn' %>
  </div>
<% end %>
